
<ion-header [translucent]="true">
  <ion-toolbar  class="itemheader">
    <ion-title>
      Please select your langauage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
<ion-list>
  <ion-item>
    <ion-label class="align-center">English</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="align-center">தமிழ்</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="align-center">हिन्दी</ion-label>
  </ion-item> 
  <ion-item>
    <ion-label class="align-center">മലയാളം</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="align-center">ಕನ್ನಡ</ion-label>
  </ion-item>
</ion-list>

  <div class="align-center">
   
    <ion-button  color="dark" class="text-center" (click)="action(state)" [style.--background]="colorVar" margin>           
     Next
  </ion-button>
  </div>
 
</ion-content>


